{% extends "base_generic.html" %}
{% block content %}
<!--    <h1>Person List</h1>-->

<!--    {% if person_list %}-->
<!--    <ul>-->

<!--      {% for person in person_list %}-->
<!--        -->
<!--      <li>-->
<!--        <a href="{{ book.get_absolute_url }}">{{ person.name }}</a> ({{person.age}})-->
<!--      </li>-->
<!--      {% endfor %}-->

<!--    </ul>-->

<!--    {% else %}-->
<!--      <p>There are no books in the library.</p>-->




<!--    {% endif %}-->

<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Pan number</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Email</th>
        <th>City</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for person in person_list %}
    <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.pan_number }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.city }}</td>

        <td>
            <a href="/edit/{{ person.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>
            <a href="/delete/{{ person.id }}">Delete</a>
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center>



{% endblock %}